        
        <footer style = "position: absolute; bottom: 0; width: 100vw;" class = "ui inverted vertical footer segment">
            
            <div class = "ui container center aligned">
                <div class = "ui stackable inverted grid" style = "padding-top: 20px auto;">
                    <div class = "sixteen wide column" style = "font-size: 95%;">
                        <a style = "color: rgb(191, 191, 191)" href = "https://mindframeeducation.com">Mindframe Education</a> | 
                        <i style = "color: rgb(191, 191, 191);" class="fa fa-phone" aria-hidden="true"></i> (703) 940-9440 | 
                        <a style = "color: rgb(191, 191, 191)" href="mailto:info@mindframeeducation.com"><i class="fa fa-envelope" aria-hidden="true"></i> info@mindframeeducation.com</a>
                    </div>
                </div>
                <div class = "ui divider"></div>
                <div style = "color: gray; font-size: 85%; margin-top: 0">&copy 2017 Mindframe Education</div>
            </div>
            
            
            
        </footer>
        
        </div> <!--pusher-->
        <!--THE ORDER OF THIS MATTERS!-->
        <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type = "text/javascript" src = https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js></script>
        <script type = "text/javascript" src = "/scripts/main.js"></script>
        <!--<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>-->
    </body>
</html>