<% include ../partials/header %>
<div class = "ui main text container" style = "margin-bottom: 0px; margin-top: 50px; padding-left: 0; width: 30%;">
    <a href = "/students"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>
<div class = "ui main text container segment" style = "margin-top: 10px; margin-bottom: 150px; width: 30%;">
    <div class = "ui medium header page-title">Assign a course</div>
    <form class = "ui form" action = "/courses/assign-course" method = "POST">
        <!--Select a student search box-->
        <div class = "field" style = "">
            <label>Student</label>
            <div class="ui search selection dropdown">
                <input type="hidden" name="student_id">
                <i class="dropdown icon"></i>
                <div class="default text">Select student</div>
                <div class="menu">
                    <% students.forEach(function(student) { %>
                        <div class = "item" data-value = "<%=student._id%>">
                            <%=student.fullName %>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div> <!--field-->
        
        <!--Select a class search box -->
        <div class="field" style = "">
            <label>Course</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="course_id">
                <i class="dropdown icon"></i>
                <div class="default text">Class</div>
                <div class="menu">
                    <% courses.forEach(function(course) { %>
                        <div class = "item" data-value = "<%=course._id%>"><%=course.name%></div>
                    <% }); %>
                </div>
            </div>
        </div> <!--field-->
        <div class = "field" style = "margin-top: 20px;">
            <input class="ui blue basic button" type = "Submit"Save>
            <input id = "delete" class="ui orange basic button" type = "Reset"Save>
        </div>
    </form>
</div> 
<% include ../partials/footer %>