<% include ./partials/header %>
<div class = "ui raised piled segment container" style = "width: 30%; margin-top: 200px; padding: 20px;">
    <h1 class = "ui center aligned header">Reset password</h1>
    <form class = "ui form" action = "/forget" method = "POST">
        <div class = "field">
            <input type = "text" name = "username" placeholder = "Email">
        </div>
        <button class = "ui blue primary button fluid">Submit</button>
        <div class="ui error message"></div>
    </form>
</div>
<% include ./partials/footer %>