<% include ./partials/header %>
<div class = "container">
    <!--<div class = "row">-->
    <!--    <h1 style = "margin-top: 200px; text-align: center">Forget password</h1>-->
    <!--    <div style = "width: 30%; margin: 10px auto;">-->
    <!--        <form action = "/forget" method = "POST">-->
    <!--            <div class = "form-group">-->
    <!--                <input class = "form-control" type = "text" name = "username" placeholder = "Username/Email">-->
    <!--            </div>-->
    <!--            <div class = "form-group">-->
    <!--                <button class = "ui blue primary button fluid">Submit</button>-->
    <!--            </div>-->
    <!--        </form>-->
    <!--    </div>-->
    <!--</div>-->
    <div style = "width: 25%; margin: 200px auto;">
        <h1 class = "ui center aligned header">Reset password</h1>
        <form class = "ui form" action = "/forget" method = "POST">
            <div class = "field">
                <input type = "text" name = "username" placeholder = "Email/username">
            </div>
            <button class = "ui blue primary button fluid">Submit</button>
        </form>
    </div>
</div>
<% include ./partials/footer %>