<% include ./partials/header %>

<div id="example1" class="container ui teal progress" data-percent="70" style = "margin-top: 100px; width: 30%;">
    <div class="bar"></div>
    <div class="semantic-label" style = "color: black; margin-top: 50px;">Uploading Files</div>
</div>



<% include ./partials/footer %>