<% include ./partials/header %>
<div class = "container">
    <div style = "width: 25%; margin: 200px auto;">
        <h1 class = "ui center aligned header">Reset password</h1>
        <form class = "ui form" action = "/reset/<%=token%>" method = "POST">
            <div class = "field">
                <input type = "password" name = "password" placeholder = "New password">
            </div>
            <div class = "field">
                <input type = "password" name = "confirm_password" placeholder = "Confirm password">
            </div>
            <button class = "ui blue primary button fluid">Submit</button>
        </form>
    </div>
</div>
<% include ./partials/footer %>