<% include ./partials/header %>
<div class = "ui raised piled segment container" style = "width: 30%; margin-top: 200px; padding: 20px;">
    <h1 class = "ui center aligned header">Staff sign up</h1>
    <form class = "ui form" action = "/register/Iyq8UTvzCU/m1ndFrameStaff" method = "POST">
        <div class = "field">
            <input type = "text" name = "username" placeholder = "Email">
        </div>
        <div class = "field">
            <input type = "password" name = "password" placeholder = "Password">
        </div>
        <div class = "field">
            <input type = "password" name = "confirm_password" placeholder = "Confirm password">
        </div>
        <button class = "ui blue primary button fluid">Submit</button>
        <div class="ui error message"></div>
    </form>
</div>
<% include ./partials/footer %>