<% include ../partials/header %>
<table class = "ui sortable container basic compact table" style = "width: 30%; margin: 75px auto;">
    <thead style = "position: relative; display: block">
        <tr>
            <!--Having just one column, using one wide will make it span all the way-->
            <th class="sixteen wide">
                Email address
            </th>
            <th class="selectable" id = "addEmail">
                <a><i class = "link add user icon"></i>Add email</a>
            </th>
        </tr>
    </thead>
    <tbody style = "height:500px; overflow-y: scroll; display: block;">
        <% emails.emails.forEach(function(email) { %>
            <tr class = "sixteen wide">
                <td colspan="4" style = "min-width: 425px;" name = "<%=email%>">
                    <%=email %>
                    <span style = "float: right;">
                        <form action = "/parents/email-list/<%=email%>?_method=DELETE" method = "POST" style = "margin-bottom: 0px;">
                            <button data-tooltip = "Delete" data-position = "left center" class = "delete-button"><i class = "trash outline icon link"></i></button>
                        </form>
                    </span>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<!--Modal for adding new email address-->
<div class="ui small modal email"> <i class="close icon" ></i>
    <div class="content">
        <form class = "ui form" action = "/parents/email-list/" method = "POST">
            <div class = "field">
                <input type = "text" name = "email" placeholder = "Email">
            </div>
            <div class = "field">
                <input class="ui blue basic button" type = "Submit"Save>
            </div>
        </form>
    </div>
</div> <!--ui small modal-->


<% include ../partials/footer %>