<% include ../partials/header %>
<table class = "ui sortable container basic compact table" style = "width: 30%;">
    <thead>
        <tr>
            <!--Having just one column, using one wide will make it span all the way-->
            <th class="fifteen wide">
                Email address
            </th>
            <th class="one wide selectable" id = "addEmail">
                <a><i class = "link add user icon"></i>Add email</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <% emails.emails.forEach(function(email) { %>
            <tr class = "sixteen wide">
                <td colspan="3" name = "<%=email%>">
                    
                    <%=email %>
                    <span style = "float: right;">
                        <form action = "/parents/email-list/<%=email%>?_method=DELETE" method = "POST" style = "margin-bottom: 0px;">
                            <button data-tooltip = "Delete" data-position = "top center" class = "delete-button"><i class = "trash outline icon link"></i></button>
                        </form>
                        <!--<a style = "color: red;"><i class = "trash outline icon link"></i></a>-->
                    </span>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<div class="ui small modal email"> <i class="close icon" ></i>
    <div class="content">
        <form class = "ui form" action = "/parents/email-list/" method = "POST">
            <div class = "field">
                <input type = "text" name = "email" placeholder = "Email">
            </div>
            <div class = "field">
                <input class="ui blue basic button" type = "Submit"Save>
            </div>
        </form>
    </div>
</div> <!--ui small modal-->


<% include ../partials/footer %>