<%include ../partials/header%>
<div class = "ui container center aligned" style = "margin-top: 50px;">
    <h1>
        Registered parents
    </h1>
</div>
<!--Semantic UI table-->
<!--<div class = "ui container center aligned" style = "width: 60%; padding-top: 10px; margin-top: 10px;">-->
<div class = "ui container center aligned" style = "margin-top: 10px;">
    <table class="ui sortable compact striped large celled blue table unstackable" style = "width: 50%; margin: 20px auto 15px;">
        <thead>
            <tr class = "text-center" style = "font-size: 100%;">
                <th>Parent's username/email</th>
                <th>Assigned students</th>
            </tr>
        </thead>
        <tbody>
            <% parents.forEach(function(parent) { %>
                <% if (!parent.hasAccess('user')) { %>
                    <tr>
                        <td>
                            <a href = "/parents/<%=parent._id%>/students"><%=parent.username %></a>
                        </td>
                        <td>
                            <% if (parent.students) { %>
                                <% if (parent.students.length != 0) { %>
                                    <% parent.students.forEach(function(student, index) { %>
                                        <a href = "/students/<%=student.id%>">
                                            <%=student.fullName %>
                                        </a>
                                        <% if (index !== parent.students.length - 1) { %>
                                            ,
                                        <% } %>
                                    <% });%>
                                <% } else { %>
                                    No student assigned to this parent
                                <% } %>
                            <% } else { %>
                                No student assigned to this parent
                            <% } %>
                        </td>
                    </tr>
                <% } %>
                
            <% }); %>
            
        </tbody>
    </table>
</div>
<%include ../partials/footer%> 