<% include ../partials/header %>
<div class = "ui main text container" style = "margin-bottom: 0px; margin-top: 50px; padding-left: 0;">
    <a href = "/students/<%=student_id%>"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>
<div class = "ui main text container segment" style = "margin-top: 10px; margin-bottom: 150px;">
    <form class = "ui form" action = "/students/<%=student_id%>/entries/<%=entry._id%>?_method=PUT" method = "POST">
        <div class="field" style = "width: 40%;">
            <label>Class name</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="entry[class_name]">
                <i class="dropdown icon"></i>
                <div class="default text">Class</div>
                    <div class="menu">
                        <div class="item" data-value="Python">Python</div>
                        <div class="item" data-value="Java">Java</div>
                        <div class="item" data-value="Robotics">Robotics</div>
                        <div class="item" data-value="Engineering">Engineering</div>
                        <div class="item" data-value="Science">Science</div>
                        <div class="item" data-value="Digital Arts">Digital Arts</div>
                        <div class="item" data-value="Game Design">Game Design</div>
                        <div class="item" data-value="Game Design & Digital Arts">Game Design & Digital Arts</div>
                        <div class="item" data-value="Robotics & Engineering">Robotics & Engineering</div>
                        <div class="item" data-value="Jr. Robotics & Engineering">Jr. Robotics & Engineering</div>
                        <div class="item" data-value="Math & Digital Literacy">Math & Digital Literacy</div>
                        <div class="item" data-value="Mobile App Development">Mobile App Development</div>
                    </div>
            </div>
        </div>
        <div class = "field">
            <label>Summary</label>
            <textarea name = "entry[summary]"><%=entry.summary%></textarea>
        </div>
        
        <div class = "field">
            <input class="ui blue basic button" type = "Submit"Save>
        </div>
    </form>
</div> 
<% include ../partials/footer %>