<% include ../partials/header%>
<div class = "ui main text container" style = "margin-bottom: 0px; margin-top: 50px; padding-left: 0;">
    <a href = "/students"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>
<div class = "ui main text container segment" style = "margin-top: 10px;">
    <div class = "ui medium header">New entry</div>
    <form class = "ui form" action = "/new-entry" method = "POST">
        <div style = "display: table; width: 80%">
            <div style = "display: table-row;">
                <!--Select a student search box-->
                <div class = "field" style = "display: table-cell;">
                    <label>Student</label>
                    <div class="ui fluid search selection dropdown">
                        <input type="hidden" name="student_id">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select student</div>
                        <div class="menu">
                            <% students.forEach(function(student) { %>
                                <div class = "item" data-value = "<%=student._id%>">
                                    <%=student.fullName %>
                                </div>
                            <% }); %>
                            
                        </div>
                    </div>
                </div> <!--field-->
                
                <!--Select a class search box -->
                <div class="field" style = "width: 30%; display: table-cell; padding-left: 20px;">
                    <label>Class</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" name="entry[class_name]">
                        <i class="dropdown icon"></i>
                        <div class="default text">Class</div>
                            <div class="menu">
                                <% classList.allClasses.sort().forEach(function(eachClass) { %>
                                    <div class = "item" data-value = "<%=eachClass%>"><%=eachClass%></div>
                                <% }); %>
                            </div>
                    </div>
                </div> <!--field-->
            </div>
        </div> <!--display: table-->
        
        <div class = "field" style = "margin-top: 10px;">
            <label>Summary</label>
            <textarea name = "entry[summary]" placeholder = "Summary"></textarea>
        </div>
        <div class = "field">
            <input class="ui blue basic button" type = "Submit"Save>
            <input id = "delete" class="ui orange basic button" type = "Reset"Save>
        </div>
    </form>
</div> 
<% include ../partials/footer %>