body {
    font-family: 'Roboto', serif;
    background-color: #ECECEA;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.special-font {
    font-family: 'Roboto', serif;
}

.icon {
    font-size: 2.5em;
}

.container.main {
    margin-top: 8.0em;
}

.resize {
    width: 200px;
    height: 100px;
}

#delete {
    display: inline;
}

.ui.success.message.small.overlay {
    z-index: 101;
    position: absolute;
    top: 45px;
    width: 40%;
    left: 30vw;
    text-align: center;
}

.ui.negative.message.small.overlay {
    z-index: 101;
    position: absolute;
    top: 55px;
    width: 40%;
    left: 30vw;
    text-align: center;
}

.student-list {
    width: 30%;
    margin-top: 20px;
}

/*.card {*/
/*    background: #fff;*/
/*    border-radius: 2px;*/
/*    display: inline-block;*/
/*    height: 100px;*/
/*    width: 300px;*/
/*    margin: 1rem;*/
    /*position: relative;*/
/*    text-align: left;*/
/*    padding-left: 5px;*/
/*    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
/*}*/

.student_name {
    font-size: 120%;
}

.delete-button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #ff6666;
}

/*Testing stuff*/
.hidden{
    display: none!important;
}

.semantic-label {
    position: absolute;
    width: 100%;
    font-size: 1em;
    top: 100%;
    right: auto;
    left: 0;
    bottom: auto;
    color: rgba(0,0,0,.87);
    font-weight: 700;
    text-shadow: none;
    margin-top: .2em;
    text-align: center;
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
}